body {
    background-color: #888888;
    margin: 0;
  }
  

        .scrollable-container {
          overflow-y: auto;
          max-height: 300px;
          padding: 20px;
        }
        
        .scrollable-container::-webkit-scrollbar {
          width: 8px;
        }
        
        .scrollable-container::-webkit-scrollbar-thumb {
          background-color: #8D64FF;
        }
        
        .scrollable-container::-webkit-scrollbar-track {
          background-color: transparent;
        }
  
  .expense-container {
    background-color: #ffffff;
    border-radius: 35px;
    padding: 20px;
    width: 400px;
  }
  
  .expense-row1 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 20px;
  }
  
  .expense-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .expense-title {
    font-size: 15px;
    flex-grow: 1;
  }
  
  .expense-image {
    width: 60px;
    height: 20px;
    object-fit: cover;
    margin-left: auto;
  }
  
  .expense-description {
    font-size: 16px;
    color: #888888;
  }
  
  .expense-due-date {
    font-size: 16px;
    color: #888888;
    margin-right: auto;
  }
  
  .expense-alarm {
    font-size: 16px;
    color: #888888;
    margin-right: auto;
  }
  
  .notification-icon {
    width: 50px;
    height: 20px;
    margin-right: 5px;
  }
  
  .expense-price {
    font-size: 15px;
    font-weight: bold;
    margin-left: auto;
  }